.weather__forecast {
  color: #000;
  background-color: #fff;
}

.forecast {
  border-top: 1px solid #e5e5e5;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  color: #666;
}

.forecast:hover {
  background-color: #fff3d9;
}

.forecast__day {
  flex: 1;
  font-size: 14px;
}

.forecast__icon {
  flex: 0 0 30px;
  font-size: 20px;
  text-align: center;
  color: #ff3e78;
}

.forecast__temp {
  flex: 0 0 70px;
  text-align: right;
}
